<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Streamship_Screenshot_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Streamship_Screenshot_Tool.Properties.Settings>
            <setting name="InkColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ClipboardCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PenWidth" serializeAs="String">
                <value>5</value>
            </setting>
        </Streamship_Screenshot_Tool.Properties.Settings>
    </userSettings>
</configuration>